* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: #edddd4;
  font-family:  sans-serif;
}
.invisible {
  display: none;
}

